*  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}




:root{

   --color-primario1: #f5f5f5;
   --color-primario2:#D9CC8B;
   --color-base:#402D0B;
   --color-base2:#8C7735;
   --color-secundario: #0D0D0D;
}

body{

    background-color: var(--color-primario1);
}

.encabezado-general {
    display: flex;
    justify-content: space-between;
height: 50;
background-color: none;
padding: 0%;

}

.encabezado-general > h1 {
  width: 500px;
  list-style: none;
  text-decoration: none;
  text-align: center;
  padding-left: 0 5px;
  margin-top: 8px;
}


.encabezado-general > h1 > a {
    list-style: none;
    text-decoration: none;
    text-align: center;
    color: rgb(58, 56, 56);
    
  }
  
.encabezado-general > nav > ul {
display: flex;

}

.encabezado-general > nav > ul > li {
    height: 50px;
    list-style: none;
    margin: 0 10px;
    width: 150px;
    }

    .encabezado-general > nav > ul > li > a {
       font-family: sans-serif;
       text-decoration: none;
       height: 50px;
        
        }
       
        ul {
            list-style: none;
            
        }
        
        ul li {
            display: inline-block;
            position: relative;
        }
        
        ul li a {
            display: block;
            padding: 20px 25px;
            color: black;
            text-decoration: none;
            text-align: center;
            font-size: 15px;
        }
        
        ul li ul.dropdown li {
            display: block;
        }
        
        ul li ul.dropdown {
            width: 90%;
            position: absolute;
            z-index: 999;
            display: none;
        }
        
        ul li a:hover {
        
   
        
        }
        
        ul li:hover ul.dropdown {
            display: block;
        }

h1 {

    display: flex;
    justify-content: center;

}
    

.slider-box {

    width: 1280px;
    height: auto;
    margin: 5px auto 0;
    overflow: hidden;
   

}

.slider-box img {
display: flex;
    width: 100%;
    height: 500px;
    
}
.slider-box ul {

display: flex;
padding: 0;
width: 400%;
animation: slide 7s infinite alternate ease-in-out;

}
        
 .slider-box  li {

width: 100%;
list-style: none;
position: relative;
       }

       .slider-box div{
width: 100%;


       }
.texto {
 
position: absolute;
text-align: center;
top: 250px;
padding: 0 250px;
color: white;
display: grid;
place-items: center;
    height: 10vh;

}
.texto h2 {

    text-shadow: 2px 2px 5px rgba(40, 40, 40, 0.455);

    font-size: 45px;
    margin: 0;
}



@keyframes slide {


    0% {margin-left: 0%;}
   25% {margin-left: -100%;} 
   50% {margin-left: -200%;}
   75% {margin-left: -300%;}
   100% {margin-left: -300%;} 
}




.my-info {
    text-align: center;
    width: 1280 px;
    height: auto;
    margin: 70px auto 0;
   display: grid;
place-items: center;
    height: 20vh;

}
.my-info p {

     width: 900px;
        text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}



.contenido2  {

display: flex;
align-items: center;
background-color: #D9CC8B;

}


.secciongrid{

    margin: 40px auto 0;
    display: grid;
    grid-template-columns: 700px 700px ;
    grid-template-rows: 700px 700px ;
    gap: 7px;
    
}

.elementoGrid{
    align-items: center;
    background-color: white
    border-radius: 5px;
    display: flex;
    
    height: 650px;
    width: 650px;
    flex-direction: column;
    align-items: center;
}


.elementoGrid img {

    height: 50%px;
    width:  100%;
object-fit: cover;
}

.elementoGrid h2 {

   text-align: center;
   margin-top: 15px;
   font-size: 16px;



}

.elementoGrid p {

    text-align: center;
   margin-top: 20px;
   font-size: 16px; 
}

